EssentialFeed.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcworkspacedata
EssentialFeed.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/xcschememanagement.plist
EssentialFeedTests/.DS_Store
.DS_Store
EssentialFeed.xcodeproj/xcuserdata/patrick.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
