EssentialFeed.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
*.xcworkspacedata
EssentialFeed.xcodeproj/xcuserdata/patrick.xcuserdatad/xcschemes/xcschememanagement.plist
